.button{
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0,0%,0%,0.2);
}
.card{
  width: auto;
  height: auto;
  border: 5px solid gray;
  border-radius: 25px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
  background-color: gold;
  padding: 30px;
}
.flex-1{
  flex: 1;
}
.todo{
  width: auto;
  height: auto;
  border: 1px solid gray;
  border-radius: 25px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
  background-color: rgb(194, 169, 28);
  padding: 30px;
  
}
.input{
  padding: 20px;
  margin-bottom: 20px;
  border:1px solid gray;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.2);
  border-radius: 10px;
}
.box{
  display: flex;
  padding: 20px;
  width: auto;
  height: auto;
}
body{
  margin: 0;
  background-color: goldenrod;
}